{{- if (eq .chezmoi.osRelease.id "arch") }}
title   Arch Linux
efi     /boot/EFI/Linux/linux-{{ .chezmoi.kernel.osrelease }}--rolling.efi
#linux   /vmlinuz-linux-hardened
#initrd  /{{ .system.hw.cpu }}-ucode.img
#initrd  /initramfs-linux-hardened.img
#options rd.luks.uuid={{ .system.storage.luks_uuid }} root=/dev/{{ .chezmoi.hostname }}VG/root resume=/dev/{{ .chezmoi.hostname }}VG/swap rootflags=subvol=@ rd.luksoptions=discard mem_encrypt=off apparmor=1 security=apparmor
{{- end }}
