@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Remove default items from the urlbar-container */
#back-button,
#forward-button,
#stop-reload-button,
#reload-button,
#customizableui-special-spring1,
#home-button,
#customizableui-special-spring2,
#library-button,
#TabsToolbar,
#sidebar-button {
    display:none;
}

/* Disable Tab toolbar for Tree Style Tab */
#tabbrowser-tabs {
    visibility: collapse !important;
}

#sidebar-header {
    display: none;
}
