# .bashrc.d/aliases

alias ls='ls --color=auto'
alias ll='ls -alF'
alias dir='ls -lah'
alias la='ls -A'
alias l='ls -CF'
alias mkdir='mkdir -p'
alias h="history|grep "
alias f="find . |grep "
alias p="ps aux |grep "
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias vi='nvim'
alias diff='diff --color=auto'
alias dmesg='dmesg --color=always'
alias cdr='cd `pwd -P`' # cd from a symlink into a real dir
alias duH1D1M='du -h -d 1 -t 1M'
alias fc-list-family='fc-list :outline -f "%{family}\n"'
alias enabledUnits='systemctl list-unit-files --state=enabled'
alias runningUnits='systemctl list-units --type=service --state=running'
alias activeUnits='systemctl list-units --type=service --state=active'
alias mpv='flatpak run io.mpv.Mpv'
{{ $profile := (vault (printf "kv/users/%s/mail" .profiles.a)).data.data.profile }}
{{- range $v, $profile_a := (vault (printf "kv/users/%s/mail" .profiles.a)).data.data.mail }}
{{-   if eq (hasKey $profile_a "serial") true }}
alias yk{{ $profile }}_{{ $v }}="gpg-connect-agent 'scd checkpin {{ $profile_a.serial }}'"
{{-   end }}
{{-  end }}
{{- if .state.private -}}
{{ $profile := (vault (printf "kv/users/%s/mail" .profiles.b)).data.data.profile }}
{{- range $v, $profile_b := (vault (printf "kv/users/%s/mail" .profiles.b)).data.data.mail }}
{{-   if eq (hasKey $profile_b "serial") true }}
alias yk{{ $profile }}_{{ $v }}="gpg-connect-agent 'scd checkpin {{ $profile_b.serial }}'"
{{-   end }}
{{-  end }}
{{- end }}

{{ if or (eq .state.private true) (eq .profiles.main "profile11") -}}
# RDP
{{-   $rdp := index (vault (printf "kv/users/%s/resources" .profiles.main)).data.data.rdp -}}
{{-   range $rdp }}
alias {{ .name }}='xfreerdp /u:{{ .username }} /v:{{.ip }} /dynamic-resolution'
{{-   end }}

# smb
{{-   $smb := index (vault (printf "kv/users/%s/resources" .profiles.main)).data.data.smb -}}
{{-   range $smb }}
alias smb{{ .share_name }}='smbclient //{{ .address }}/{{ .username }}'
{{-   end }}
{{- end }}
