-- crontab -e
-- 0 * * * * /usr/local/bin/imapfilter

function main ()

    -- See 'man imapfilter_config' for an explanation of
    -- imapfilter options and functions.

    -- Some config examples:
    -- https://github.com/lefcha/imapfilter/blob/master/samples/config.lua
    -- https://gist.github.com/dylanwh/408810
    -- http://www.npcglib.org/~stathis/blog/2012/07/09/linux-task-sorting-mail-with-imapfilter/

    -- General Options
    options.timeout = 120
    options.subscribe = true

    -- Accounts
{{ if .private }}
{{-  if .vaultID2 }}
{{-     (vault (printf "kv/users/%s/imapfilter_secondary" .vaultID2)).data.data.imapfilter_secondary }}
{{-  end }}
{{- end }}

    if (second['Inbox']:check_status() > 0) then
        inbox_results = second['Inbox']:select_all()
        inbox_results:move_messages(first['INBOX'])

        sent_results = second['Sent']:select_all()
        sent_results:move_messages(first['INBOX'])

        spam_results = second['Junk']:select_all()
        spam_results:move_messages(first['INBOX'])
    end

    if (third['Inbox']:check_status() > 0) then
        inbox_results = third['Inbox']:select_all()
        inbox_results:move_messages(first['INBOX'])

        sent_results = third['Sent']:select_all()
        sent_results:move_messages(first['INBOX'])

        spam_results = third['Junk']:select_all()
        spam_results:move_messages(first['INBOX'])
    end
end

-- Escapes problematic characters in passwords.
function sanitize_pwd(pwd)
    -- Chomp off newline character that is sucked in from Password Store.
    pwd = string.gsub(pwd, "\n", "")

    -- Escape backslash characters that exist in passwords. Need to escape the
    -- escape characters at each 'level' where the password string is used
    -- otherwise escape characters are lost.
    --
    -- The slashes are escaped first. If they were escaped later then
    -- characters escaped later would be escaped again.
    pwd = string.gsub(pwd, '%\\', '\\\\')

    -- Escape double quote characters that exist in passwords.
    pwd = string.gsub(pwd, '%"', '\\"')

    return pwd
end

main()
