home/.chezmoitemplates/firefox/arkenfox/updater.sh
home/.chezmoitemplates/firefox/arkenfox/user.js
home/.chezmoitemplates/firefox/arkenfox/userjs_backups
home/.chezmoitemplates/firefox/no-rfp/user.js
home/.chezmoitemplates/firefox/no-rfp/userjs_backups
home/.chezmoitemplates/firefox/direct/user.js
home/.chezmoitemplates/firefox/direct/userjs_backups
home/.chezmoitemplates/firefox/direct-no-rfp/user.js
home/.chezmoitemplates/firefox/direct-no-rfp/userjs_backups
