# vim: filetype=sh
# .profile

{{- if eq .wayland true -}}
# run sway session stuff if login on tty1
# if [ -z "$DISPLAY" ] && [ "$(tty)" = /dev/tty1 ]; then
#     exec "$HOME"/.local/bin/scripts/session/sway_session
# fi
{{- else if eq .x11 true -}}
# run graphical session stuff if login on tty2
# if [ -z "$DISPLAY" ] && [ "$(tty)" = /dev/tty2 ]; then
#     exec startx
# fi
{{-  end -}}
