CONTAINERS="{{ range $index, $policy := (vault (printf "kv/users/%s/resources" .profiles.main)).data.data.containers.containerPolicy -}}
{{ if $index }} {{ end }}{{ $policy }}{{ end }}"

# User-specific repository path transformed into an absolute path for systemd compliance
CONTAINER_REPO_PATH="{{ .chezmoi.homeDir }}/{{ (vault (printf "kv/users/%s/resources" .profiles.main)).data.data.containers.container_repo_path }}"

# Shared global registry URL
REG_URL="{{ (vault "kv/shared/resources").data.data.containers.containerRegistry }}"
