{{- if and (.state.cli_mail) (not .state.private) }}
{{-   template "goimapnotify/single" dict "profile" .profiles.main }}
{{- else if and (.state.cli_mail) (.state.private) }}
{{-   template "goimapnotify/all" dict "profile1" .profiles.a "profile2" .profiles.b "accIdx" 0 }}
{{- end }}
