SUBSYSTEM=="block", ENV{ID_FS_UUID}=="<uuid>", RUN+="/usr/bin/setfacl -m u:<username>:rw $env{DEVNAME}", RUN+="/usr/bin/chcon -t virt_content_t $env{DEVNAME}", TAG+="uaccess"
