#!/bin/sh

set -eufo pipefail

asdf plugin add chezmoi
asdf install chezmoi latest
asdf set chezmoi latest

asdf plugin add rust https://github.com/asdf-community/asdf-rust.git
asdf install rust latest
asdf set rust latest

{{- if .state.private }}

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf install nodejs latest
asdf set nodejs latest

asdf plugin add golang https://github.com/asdf-community/asdf-golang.git
asdf install golang latest
asdf set golang latest

asdf plugin add lua https://github.com/Stratus3D/asdf-lua.git
asdf install lua latest
asdf set lua latest

asdf plugin add rye https://github.com/Azuki-bar/asdf-rye
asdf install rye latest
asdf set rye latest

asdf plugin add bun https://github.com/cometkim/asdf-bun.git
asdf install bun latest
asdf set bun latest

asdf plugin add uv https://github.com/asdf-community/asdf-uv.git
asdf install uv latest
asdf set uv latest

{{- end }}
asdf reshim
