{{- if (eq .chezmoi.osRelease.id "fedora") -}}
#!/bin/bash

set -eufo pipefail
{{-   if (eq .chezmoi.osRelease.variant "Silverblue")  -}}
{{ $ostreeOverlay := list
     "fish"
     "fzf"
     "gammastep"
     "lxqt-policykit"
     "make"
     "mako"
     "neovim"
     "network-manager-applet"
     "pam_mount"
     "python-i3ipc"
     "qemu-kvm"
     "ripgrep"
     "starship"
     "sway"
     "syncthing"
     "udiskie"
     "vault"
     "virt-manager"
     "waybar"
     "wl-clipboard" -}}

{{/* Lazyvim dependencies */}}
{{   $ostreeOverlay = concat $ostreeOverlay (list
       "gcc-c++" ) -}}

{{-     if (vault (printf "kv/users/%s/packages" .profiles.a)).data.data.rpmostree }}
{{-       range $ostreeOverlay }}
rpm-ostree install {{ . }}
{{-       end }}
{{-     end }}

{{-   else if or (eq .chezmoi.osRelease.variant "Sericea") -}}
{{ $ostreeOverlay := list
     "fish"
     "gvfs-mtp"
     "make"
     "neovim"
     "ripgrep"
     "starship"
     "syncthing"
     "udiskie" -}}
{{-     if (vault (printf "kv/users/%s/packages" .profiles.a)).data.data.rpmostree }}
{{-       range $ostreeOverlay }}
rpm-ostree install {{ . }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
