#!/bin/bash
{{- if .mutt -}}
{{- $vaultJson := vault (printf "kv/users/%s/notmuch" .vaultID1) -}}
{{- $sym_roots := (index $vaultJson.data.data.notmuch 0).sym_roots  -}}
{{- $profile := (index $vaultJson.data.data.notmuch 0).profile  -}}

{{- $values := "" -}}
{{- range $v, $sym_roots -}}
{{-   if gt (len $values) 0 -}}
{{-     $values = list $values $v | join " " }}
{{-   else }}
{{-    $values = $v }}
{{-   end }}
{{- end }}

profile="{{ $profile }}"
values=(""{{ $values }}"")

for i in "${values[@]}" ; do
  mkdir -p "$XDG_DATA_HOME"/mail/notmuch/"$profile"
  ln -sf "$i" "$XDG_DATA_HOME/mail/notmuch/$profile"
done

{{- $vaultJson := vault (printf "kv/users/%s/notmuch" .vaultID1) -}}
{{- $sym_roots := (index $vaultJson.data.data.notmuch 1).sym_roots  -}}
{{- $profile := (index $vaultJson.data.data.notmuch 1).profile  -}}

{{- $values := "" -}}
{{- range $v, $sym_roots -}}
{{-   if gt (len $values) 0 -}}
{{-     $values = list $values $v | join " " }}
{{-   else }}
{{-    $values = $v }}
{{-   end }}
{{- end }}

profile="{{ $profile }}"
values=(""{{ $values }}"")

for i in "${values[@]}" ; do
  mkdir -p "$XDG_DATA_HOME"/mail/notmuch/"$profile"
  ln -sf "$i" "$XDG_DATA_HOME/mail/notmuch/$profile"
done

{{ if .private }}
{{- $vaultJson := vault (printf "kv/users/%s/notmuch" .vaultID2) -}}
{{- $sym_roots := (index $vaultJson.data.data.notmuch 0).sym_roots  -}}
{{- $profile := (index $vaultJson.data.data.notmuch 0).profile  -}}

{{- $values := "" -}}
{{- range $v, $sym_roots -}}
{{-   if gt (len $values) 0 -}}
{{-     $values = list $values $v | join " " }}
{{-   else }}
{{-    $values = $v }}
{{-   end }}
{{- end }}

profile="{{ $profile }}"
values=(""{{ $values }}"")

for i in "${values[@]}" ; do
  mkdir -p "$XDG_DATA_HOME"/mail/notmuch/"$profile"
  ln -sf "$i" "$XDG_DATA_HOME/mail/notmuch/$profile"
done
{{ end }}
{{- end }}
