{{ $flathub := list
     "io.mpv.Mpv"
     "org.gimp.GIMP"
     "org.inkscape.Inkscape"
     "org.libreoffice.LibreOffice"
     "org.torproject.torbrowser-launcher"
     "im.riot.Riot" -}}

#!/bin/bash

set -eufo pipefail

{{- if (vault (printf "kv/users/%s/packages" .profiles.a)).data.data.flatpak }}
{{    range $flathub }}
flatpak --user install flathub {{ . }}
{{-   end }}
{{- end }}
