#!/bin/bash

set -eufo pipefail

{{ $golang_pkgs := list
     "github.com/gopasspw/gopass@latest" -}}

{{- if and (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.username "user") -}}
{{-   $golang_pkgs = concat $golang_pkgs (list
        "github.com/gopasspw/git-credential-gopass@latest") -}}
{{- end }}

{{- if (vault (printf "kv/users/%s/packages" .profiles.a)).data.data.golang_pkgs }}
{{    range $golang_pkgs }}

go install  {{ . }}

{{-   end }}
{{- end }}

{{- if (vault (printf "kv/users/%s/packages" .profiles.a)).data.data.rust_pkgs }}
{{    range $rust_pkgs }}

cargo install {{ . }}
{{-   end }}
cargo install --git https://github.com/starship/starship --no-default-features --features=battery,notify
{{- end }}
