{{- if (eq .chezmoi.osRelease.id "fedora") -}}
#!/bin/bash

set -eufo pipefail
{{ $ostreeOverlay := list
     "edk2-ovmf"
     "fish"
     "fzf"
     "gammastep"
     "gstreamer1-plugin-openh264"
     "gvfs-mtp"
     "gvfs-smb"
     "lxqt-policykit"
     "make"
     "mozilla-openh264"
     "neovim"
     "qemu"
     "ripgrep"
     "starship"
     "swtpm"
     "syncthing"
     "tmux"
     "udiskie"
     "vault"
     "virt-install"
     "virt-manager"
     "wl-clipboard" -}}

{{/* Lazyvim dependencies */}}
{{   $ostreeOverlay = concat $ostreeOverlay (list
       "gcc-c++" ) -}}

{{-    if (eq .chezmoi.osRelease.variant "Silverblue")  -}}
{{       $ostreeOverlay = concat $ostreeOverlay (list
         "dunst"
         "lxqt-policykit"
         "network-manager-applet"
         "python-i3ipc"
         "sway"
         "waybar" ) -}}
{{-    end }}

{{-    if (vault (printf "kv/users/%s/packages" .profiles.a)).data.data.rpmostree }}
{{-      range $ostreeOverlay }}
rpm-ostree install {{ . }}
{{-      end }}
{{-    end }}
{{- end }}
