{{- if and (eq .chezmoi.osRelease.id "alpine") (eq .headless true) -}}
#!/bin/bash

set -eufo pipefail

{{ $apk := list
     "adwaita-icon-theme"
     "adwaita-qt"
     "alacritty"
     "alpine-base"
     "alsa-plugins-pulse"
     "android-tools"
     "apparmor"
     "aspell"
     "aspell-en"
     "bash"
     "bash-completion"
     "bluez"
     "btrfs-progs"
     "ca-certificates"
     "chrony"
     "coreutils"
     "cryptsetup"
     "cups"
     "cups-filters"
     "curl"
     "dbus"
     "dbus-openrc"
     "dbus-x11"
     "dhcpcd"
     "doas"
     "elogind"
     "eudev"
     "findutils"
     "fish"
     "flatpak"
     "fzf"
     "gammastep@testing"
     "git"
     "gnome-keyring"
     "gnupg"
     "grep"
     "gvfs"
     "gvfs-mtp"
     "khard@testing"
     "less"
     "lftp"
     "libappindicator"
     "libvirt"
     "lsof"
     "lxqt-policykit@testing"
     "mako"
     "mesa-dri-gallium"
     "mlocate"
     "mpv"
     "msmtp"
     "musl-locales"
     "neovim"
     "netcat-openbsd"
     "network-manager-applet"
     "networkmanager"
     "networkmanager-openvpn"
     "nmap"
     "notmuch"
     "openssh"
     "openssl"
     "openvpn"
     "p7zip"
     "parted"
     "pavucontrol"
     "pciutils"
     "pinentry-qt"
     "pipewire"
     "pipewire-pulse"
     "pipewire-tools"
     "polkit-elogind"
     "py3-i3ipc@testing"
     "readline"
     "ripgrep"
     "ristretto"
     "sane"
     "sed"
     "sway"
     "syncthing"
     "terminus-font"
     "thunar"
     "thunar-volman"
     "tmux"
     "ttf-dejavu"
     "tumbler"
     "udiskie"
     "udisks2"
     "util-linux"
     "vault"
     "vdirsyncer@testing"
     "virt-manager"
     "waybar"
     "wireplumber"
     "wofi"
     "xdg-user-dirs"
     "xfconf" -}}

{{-  if (vault (printf "kv/users/%s/packages" .vaultid1)).data.data.apk }}
sudo apk add -<<EOF
{{     range ($apk | sortAlpha | uniq) -}}
{{ . }}
{{     end -}}
EOF
{{-  end }}
{{- end }}

{{- if and (eq .chezmoi.osRelease.id "alpine") (eq .headless false) -}}
{{ $apk := list
     "alpine-base"
     "alpine-sdk"
     "bonding"
     "cdrkit"
     "chrony"
     "cloud-utils"
     "conntrack-tools"
     "cryptsetup"
     "curl"
     "dbus"
     "dhcpcd"
     "dnsmasq"
     "doas"
     "docker"
     "docker-compose"
     "eudev"
     "fish"
     "fuse-overlayfs"
     "haveged"
     "ifupdown-ng"
     "libvirt"
     "libvirt-daemon"
     "man-pages"
     "mdocml"
     "mlocate"
     "musl-locales"
     "neovim"
     "nftables"
     "openssh"
     "openssl"
     "ovmf"
     "p7zip"
     "podman"
     "podman-compose"
     "polkit"
     "py3-pip"
     "qemu-img"
     "qemu-modules"
     "qemu-system-x86_64"
     "qemu-x86_64"
     "sdparm@testing"
     "shadow"
     "shadow-uidmap"
     "slirp4netns"
     "smartmontools"
     "spice"
     "tmux"
     "tree"
     "vault"
     "virt-install"
     "zfs"
     "zfs-udev" -}}

{{-  if (vault (printf "kv/users/%s/packages" .vaultid1)).data.data.apk }}
sudo apk add -<<EOF
{{     range ($apk | sortAlpha | uniq) -}}
{{ . }}
{{     end -}}
EOF
{{-  end }}
{{- end }}
