{{- if .flatpak -}}

{{ $flathub := list
     "com.bitwarden.desktop"
     "io.mpv.Mpv"
     "org.libreoffice.LibreOffice"
     "org.gimp.GIMP"
     "org.inkscape.Inkscape"
     "com.github.micahflee.torbrowser-launcher"
     "im.riot.Riot"
     "org.pulseaudio.pavucontrol"
     "com.github.tchx84.Flatseal"
     "org.mozilla.firefox" -}}

#!/bin/bash

set -eufo pipefail

{{-   if (vault (printf "kv/users/%s/packages" .vaultID1)).data.data.flatpak }}
{{     range $flathub }}
flatpak --user install flathub {{ . }}
{{-    end }}
{{-   end }}
{{- end }}
