{{- if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

set -eufo pipefail

{{ $pacman := list
     "adwaita-icon-theme"
     "adwaita-qt5"
     "adwaita-qt6"
     "alsa-utils"
     "android-tools"
     "android-udev"
     "apparmor"
     "aspell"
     "aspell-en"
     "base-devel"
     "bash-completion"
     "bc"
     "bind-tools"
     "bleachbit"
     "btrfs-progs"
     "bubblewrap-suid"
     "ca-certificates"
     "ccid"
     "cdrdao"
     "cdrtools"
     "chezmoi"
     "cryptsetup"
     "cups"
     "cups-filters"
     "cups-pdf"
     "diffutils"
     "dvd+rw-tools"
     "efibootmgr"
     "efitools"
     "fish"
     "flatpak"
     "foomatic-db"
     "foomatic-db-engine"
     "foot"
     "fzf"
     "git"
     "gnome-font-viewer"
     "gnome-keyring"
     "gnome-themes-extra"
     "gvfs-mtp"
     "htop"
     "hunspell-en"
     "iputils"
     "jq"
     "libnotify"
     "libvirt"
     "linux-firmware"
     "linux-hardened"
     "linux-hardened-headers"
     "lsb-release"
     "lsof"
     "lxqt-policykit"
     "man"
     "man-pages"
     "mc"
     "mlocate"
     "nautilus"
     "neovim"
     "network-manager-applet"
     "networkmanager"
     "networkmanager-openvpn"
     "ntfs-3g"
     "openssh"
     "openvpn"
     "os-prober"
     "p7zip"
     "parted"
     "pavucontrol"
     "pcsclite"
     "perl-image-exiftool"
     "pipewire"
     "pipewire-pulse"
     "podman"
     "qemu"
     "ripgrep"
     "rsync"
     "samba"
     "sane"
     "sbctl"
     "sbsigntools"
     "sddm"
     "slurp"
     "smartmontools"
     "starship"
     "sudo"
     "sxiv"
     "syncthing"
     "tmux"
     "toolbox"
     "tpm2-tss"
     "tree"
     "ttf-dejavu"
     "unrar"
     "unzip"
     "vault"
     "virt-manager"
     "waybar"
     "wget"
     "whois"
     "xarchiver"
     "yubikey-manager"
     "zip"
     "zram-generator" -}}

{{ if or (eq .chezmoi.hostname "icefloe" "cavern") -}}
{{   $pacman = concat $pacman (list
       "amd-ucode"
       "xf86-video-amdgpu") -}}
{{- end }}

{{ if eq .chezmoi.hostname "iceberg" -}}
{{   $pacman = concat $pacman (list
       "bluez"
       "bluez-utils"
       "intel-ucode"
       "iwd"
       "nvme-cli"
       "tlp-rdw"
       "xf86-video-intel") -}}
{{ end -}}

{{ if .x11 -}}
{{   $pacman = concat $pacman (list
       "hsetroot"
       "i3-wm"
       "i3lock"
       "i3status"
       "maim"
       "picom"
       "redshift"
       "rofi"
       "xf86-video-vesa"
       "xorg-server"
       "xorg-xinit"
       "xorg-xrandr"
       "xsel") -}}
{{ end -}}

{{ if .wayland -}}
{{   $pacman = concat $pacman (list
       "gammastep"
       "grim"
       "i3status"
       "mako"
       "python-i3ipc"
       "qt5-wayland"
       "sway"
       "swaybg"
       "swayidle"
       "swaylock"
       "wl-clipboard"
       "wofi"
       "xorg-server-xwayland") -}}
{{ end -}}

{{ if eq .chezmoi.hostname "snowfield" -}}
{{   $pacman = concat $pacman (list
       "grub") -}}
{{ end -}}

{{-   if (vault (printf "kv/users/%s/packages" .vaultID1)).data.data.pacman }}
sudo pacman -Syu {{ $pacman | join " " }}
{{-   end }}
{{- end }}
