# Aerc main configuration. For detailed information type "man aerc"
# Read `man 5 aerc-accounts` for reference.

{{ $profile := (vault (printf "kv/users/%s/mail" .profiles.a)).data.data.profile }}
{{- range $v, $account := (vault (printf "kv/users/%s/mail" .profiles.a)).data.data.mail }}
{{-   $aliases := ($account.alias) }}
{{-   if .enabled -}}
[{{ .shortAccountName }}]
source                    = maildir://~/.local/share/mail/{{ $profile }}/{{ .accountName }}
check-mail-cmd            = mbsync -a {{ .shortAccountName }}
outgoing                  = msmtp -a {{ .accountName }}
copy-to                   = Sent
default                   = Inbox
from                      = {{ .realName | quote }} <{{ (index ($aliases) 0) }}>
address-book-cmd          = khard email -f %s -p --remove-first-line -a
{{- if hasKey $account "addressbooks" }}
{{-   range $v, $abook := $account.addressbooks}}
{{-     if $v }},{{ end -}}
{{        .name }}
{{-   end }}
{{- end }}
pgp-key-id                = {{ if eq (hasKey $account "keyID") true }}{{ .keyID }}{{ end }}
pgp-auto-sign             = true
pgp-opportunistic-encrypt = false
signature-file            = ~/.config/email-common/{{ $profile }}/signatures/{{ .accountNumber }}.signature
{{-   end }}
{{- end }}
{{  if .state.private }}
{{- $profile := (vault (printf "kv/users/%s/mail" .profiles.b)).data.data.profile }}
{{-   range $v, $account := (vault (printf "kv/users/%s/mail" .profiles.b)).data.data.mail }}
{{-     $aliases := ($account.alias) }}
{{-     if .enabled }}
[{{ .shortAccountName }}]
source                    = maildir://~/.local/share/mail/{{ $profile }}/{{ .accountName }}
check-mail-cmd            = mbsync -a {{ .accountName }}
outgoing                  = msmtp -a {{ .accountName }}
copy-to                   = Sent
default                   = Inbox
from                      = {{ .realName | quote }} <{{ (index ($aliases) 0) }}>
address-book-cmd          = khard email -f %s -p --remove-first-line -a
{{- if hasKey $account "addressbooks" }}
{{-   range $v, $abook := $account.addressbooks}}
{{-     if $v }},{{ end -}}
{{        .name }}
{{-   end }}
{{- end }}
pgp-key-id                = {{ if eq (hasKey $account "keyID") true }}{{ .keyID }}{{ end }}
pgp-auto-sign             = true
pgp-opportunistic-encrypt = false
signature-file            = ~/.config/email-common/{{ $profile }}/signatures/{{ .accountNumber }}.signature
{{-     end }}
{{    end }}
{{- end }}
{{- $profile := (vault (printf "kv/users/%s/mail" .profiles.a)).data.data.profile }}
{{- $account := index (vault (printf "kv/users/%s/mail" .profiles.a)).data.data.mail 0 }}
{{-   $aliases := ($account.alias) }}
{{-   if $account.enabled }}
[nm-{{ $account.shortAccountName }}]
source                    = notmuch://~/.local/share/mail/{{ $profile }}/
maildir-store             = ~/.local/share/mail/{{ $profile }}/
outgoing                  = msmtp -a {{ $account.accountName }}
copy-to                   = {{ $account.accountName }}/Sent
query-map                 = ~/.config/aerc/notmuchmap/{{ $profile }}.conf
default                   = Inbox
folders-sort              = Inbox
from                      = {{ $account.realName | quote }} <{{ (index ($aliases) 0) }}>
address-book-cmd          = khard email -f %s -p --remove-first-line -a
{{- if hasKey $account "addressbooks" }}
{{-   range $v, $abook := $account.addressbooks}}
{{-     if $v }},{{ end -}}
{{        .name }}
{{-   end }}
{{- end }}
pgp-key-id                = {{ if eq (hasKey $account "keyID") true }}{{ $account.keyID }}{{ end }}
pgp-auto-sign             = true
pgp-opportunistic-encrypt = false
signature-file            = ~/.config/email-common/{{ $profile }}/signatures/{{ $account.accountNumber }}.signature
{{-   end }}
{{  if .state.private }}
{{-   $profile := (vault (printf "kv/users/%s/mail" .profiles.b)).data.data.profile }}
{{-   $account := index (vault (printf "kv/users/%s/mail" .profiles.b)).data.data.mail 0 }}
{{-   $aliases := ($account.alias) }}
{{-   if $account.enabled }}
[nm-{{ $account.shortAccountName }}]
source                    = notmuch://~/.local/share/mail/{{ $profile }}/
maildir-store             = ~/.local/share/mail/{{ $profile }}/
outgoing                  = msmtp -a {{ $account.accountName }}
copy-to                   = {{ $account.accountName }}/Sent
query-map                 = ~/.config/aerc/notmuchmap/{{ $profile }}.conf
default                   = Inbox
folders-sort              = Inbox
from                      = {{ $account.realName | quote }} <{{ (index ($aliases) 0) }}>
address-book-cmd          = khard email -f %s -p --remove-first-line -a
{{- if hasKey $account "addressbooks" }}
{{-   range $v, $abook := $account.addressbooks}}
{{-     if $v }},{{ end -}}
{{        .name }}
{{-   end }}
{{- end }}
pgp-key-id                = {{ if eq (hasKey $account "keyID") true }}{{ $account.keyID }}{{ end }}
pgp-auto-sign             = true
pgp-opportunistic-encrypt = false
signature-file            = ~/.config/email-common/{{ $profile }}/signatures/{{ $account.accountNumber }}.signature
{{-   end }}
{{- end }}
