rofi.combi-modi:    window,drun,ssh,emoji
rofi.theme:         ~/.config/rofi/themes/selenized-dark
rofi.font:          DejaVu Sans Mono 12
rofi.dpi:           {{ .dpi }}
rofi.modi:          combi
rofi.location:      1
