/* Nord Theme from
 * https://github.com/undiabler/nord-rofi-theme
 */

configuration {
    font: "MesloLGS NF 14 ";
    modes: "window,drun,run,ssh";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 6;
	columns: 1;
}

window {
	width: 50%;
}
