# SwayWM startup configuration. For detailed information type "man 5 sway"

## Autostart Applications
### Polkit (to elevate user rights in GUI apps)
{{- if eq .chezmoi.osRelease.id "fedora" }}
exec /usr/libexec/lxqt-policykit-agent
{{- else if eq .chezmoi.osRelease.id "arch" "alpine" }}
exec /usr/bin/lxqt-policykit-agent
{{- end }}
exec udiskie --no-automount  --tray

# Network Manager widget
exec "nm-applet --indicator"

# Autostart some stuff
exec gammastep
exec inactive-windows-transparency.py -o 0.8
exec mako --anchor bottom-right
exec "foot --server"

{{- if eq .chezmoi.osRelease.id "fedora" "arch" }}
exec dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=sway
{{- else if eq .chezmoi.osRelease.id "alpine" }}
exec pipewire
{{- end }}
