# SwayWM input configuration. For detailed information type "man sway-input"

input "type:keyboard" {
    xkb_layout "us,pl"
    xkb_options "grp:win_space_toggle,compose:ralt"
}

##########################
# Dell XPS 13 9370
##########################
input "1739:30383:DELL07E6:00_06CB:76AF_Touchpad" {
    tap enabled
    natural_scroll enabled
    middle_emulation enabled
}
