# SwayWM input configuration. For detailed information type "man sway-input"

##########################
# Dell XPS 13 9370
##########################
input "1739:30383:DELL07E6:00_06CB:76AF_Touchpad" {
    tap enabled
    natural_scroll enabled
    middle_emulation enabled
}
