{{- if and .state.cli_mail .state.private -}}
{{-   $vaultB := (vault (printf "kv/users/%s/mail" .profiles.b)).data.data -}}
{{-   $maildirs := list -}}
{{-   range $account := $vaultB.mail -}}
{{-     if $account.enabled -}}
{{-       $maildirs = concat $maildirs (list $account.accountName (printf "%s_archived" $account.accountName)) -}}
{{-     end -}}
{{-   end -}}
{{-   template "notmuch/aerc_notmuchmap.conf" (dict "maildirs" ($maildirs | uniq)) -}}
{{- end -}}
