@define-color background rgba(0, 0, 0, 0.7);
@define-color foreground #e5e5e5;
@define-color gray_trnsp rgba(100, 100, 100, 0.5);
@define-color fucsia     rgba(200, 0, 0, 1);

/** Colors
* Selenized dark colorscheme for waybar
*/
@define-color bg #103c48;
@define-color black #184956;
@define-color br_black #2d5b69;
@define-color white #72898f;
@define-color fg #adbcbc;
@define-color br_white #cad8d9;

@define-color red #fa5750;
@define-color green #75b938;
@define-color yellow #dbb32d;
@define-color blue #4695f7;
@define-color magenta #f275be;
@define-color cyan #41c7b9;
@define-color orange #ed8649;
@define-color violet #af88eb;

@define-color br_red #ff665c;
@define-color br_green #84c747;
@define-color br_yellow #ebc13d;
@define-color br_blue #58a3ff;
@define-color br_magenta #ff84cd;
@define-color br_cyan #53d6c7;
@define-color br_orange #fd9456;
@define-color br_violet #bd96fa;

* {
  font-family: MesloLGS Nerd Font;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
  border-bottom: 3px solid @gray_trnsp;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  color: @white;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid @gray_trnsp;
}

#workspaces button.focused {
  color: @foreground;
  border-bottom: 3px solid @green;
}

#workspaces button.urgent {
  border-bottom: 3px solid @red;
}

#mode {
  background-color: @fucsia;
  color: @black;
  border-top: 5px solid @black;
  border-bottom: 5px solid @black;
}

#pulseaudio.muted,
#network.disabled,
#network.disconnected,
#temperature.critical,
#battery.critical,
#memory.critical,
#cpu.load.critical,
#cpu.critical {
  border-bottom: 3px solid @red;
  border-top: 3px solid @red;
}

#battery.charging {
  border-bottom: 3px solid @green;
}

#clock-time,
#mode,
#window,
#pulseaudio,
#pulseaudio.sources,
#network,
#cpu,
#cpu.load,
#disk,
#temperature,
#tray,
#memory,
#backlight,
#custom-uptime,
#battery,
#custom-modules-separator,
#clock {
  margin: 0 4px;
}

#pulseaudio.sources.muted,
#pulseaudio.sources.bluetooth,
#pulseaudio.sources {
  border-bottom: 3px transparent;
  border-top: 3px transparent;
}

#pulseaudio.bluetooth {
  border-bottom: 3px solid @blue;
  border-top: 3px solid @blue;
}

#custom-modules-separator {
  font-size: 10px;
  color: @fucsia;
}
