[Desktop Entry]
Name=Clear Clipboard (wl-copy)
Comment=Clear Clipboard with wl-copy
Exec=wl-copy -c; wl-copy -pc
Terminal=false
Type=Application
Categories=Utility;Clipboard;
