{{- if (eq .chezmoi.osRelease.id "arch") }}
# /etc/dracut.d/myflags.conf
rd.vconsole.font=ter-120n
rd.info
{{-   if .system.storage.lvm }}
rd.lvm=1
rd.lvm.vg={{ .chezmoi.hostname }}VG
rd.lvm.lv={{ .chezmoi.hostname }}VG/root
rd.luks.uuid={{ .system.storage.lvmu_uid }}
root=/dev/{{ .chezmoi.hostname }}VG/root
resume=/dev/{{ .chezmoi.hostname }}VG/swap
{{-   else }}
root=UUID={{ .system.storage.root_uuid }}
{{-  end }}
rootflags=subvol=@
{{-   if .system.hw.tpm }}
rd.luks.options={{ .system.storage.root_uuid }}=tpm2-device=auto,discard
{{-   else }}
rd.luks.options=discard
{{-  end }}
mem_encrypt=off
apparmor=1
security=apparmor
{{- end }}
