[bleachbit]
auto_hide = True
auto_start = False
check_beta = False
check_online_updates = False
shred = False
exit_done = False
delete_confirmation = True
units_iec = False
first_start = False
version = 2.2

[list/shred_drives]
0 = /var/home/{{ .chezmoi.username }}/.cache
1 = /tmp

[preserve_languages]
en = True

[tree]
bash = True
bash.history = True
deepscan = True
deepscan.ds_store = True
deepscan.thumbs_db = True
deepscan.tmp = True
firefox = True
firefox.backup = True
firefox.cache = True
firefox.cookies = True
firefox.crash_reports = True
firefox.dom = True
firefox.forms = True
firefox.session_restore = True
firefox.site_preferences = True
firefox.url_history = True
firefox.vacuum = True
gedit = True
gedit.recent_documents = True
gimp = True
gimp.tmp = True
gnome = True
gnome.run = True
gnome.search_history = True
gvfs = True
gvfs.metadata = True
java = True
java.cache = True
journald = True
journald.clean = True
less = True
less.history = True
lftp = True
lftp.cwd_history = True
lftp.rl_history = True
lftp.transfer_log = True
libreoffice = True
libreoffice.cache = True
libreoffice.history = True
midnightcommander = False
midnightcommander.history = False
newsboat = True
newsboat.cache = True
newsboat.cmdline_history = True
newsboat.search_history = True
nvim = True
nvim.history = True
nvim.swap = True
ohmyzsh = True
ohmyzsh.zcompdump = True
sqlite3 = True
sqlite3.history = True
system = True
system.cache = True
system.clipboard = True
system.custom = True
system.desktop_entry = True
system.localizations = True
system.recent_documents = True
system.rotated_logs = True
system.tmp = True
system.trash = True
thumbnails = True
thumbnails.cache = True
thunderbird = True
thunderbird.cache = True
thunderbird.cookies = True
thunderbird.index = True
thunderbird.vacuum = True
transmission = True
transmission.history = True
transmission.torrents = True
vim = True
vim.history = True
virtualbox = True
virtualbox.logs = True
vlc = True
vlc.mru = True
wget = True
wget.history = True
x11 = True
x11.debug_logs = True
zathura = True
zathura.history = True
zathura.input-history = True
zsh = True
zsh.history = True
zsh.zcompdump = True
fish = True
fish.history = True
fish.generated_completions = True
chromium = True
chromium.cache = True
chromium.cookies = True
chromium.dom = True
chromium.form_history = True
chromium.history = True
chromium.passwords = True
chromium.search_engines = True
chromium.session = True
chromium.site_preferences = True
chromium.sync = True
chromium.vacuum = True
