# vim: filetype=neomuttrc
source ~/.config/mutt/mutt-wizard.muttrc
source ~/.config"/mutt/accounts/1.muttrc
macro index,pager i1 '<sync-mailbox><enter-command>source ~/.config/mutt/accounts/1.muttrc<enter><change-folder>!<enter>;<check-stats>' "Switch to Account 1"
{{- if .private }}
macro index,pager i2 '<sync-mailbox><enter-command>source ~/.config/mutt/accounts/2.muttrc<enter><change-folder>!<enter>;<check-stats>' "Switch to Account 2"
macro index,pager i3 '<sync-mailbox><enter-command>source ~/.config/mutt/accounts/3.muttrc<enter><change-folder>!<enter>;<check-stats>' "Switch to Account 3"
{{-  end }}
macro index ii "<shell-escape>imapfilter -c $HOME/.imapfilter/secondary.lua<enter>" "Run imapfilter"
macro index o "<shell-escape>mbsync inboxes<enter>" "run mbsync to sync inboxes"
set crypt_use_gpgme = yes
set tmpdir = "/tmp/mutt"

# format=flowed
set text_flowed = yes
set sort = threads

# Use unicode everywhere
set charset="utf-8"
set send_charset="us-ascii:utf-8"

# Autocrypt
# set crypt_protected_headers_write = yes
# set crypt_protected_headers_subject = "..."
# set autocrypt = yes
# # set autocrypt_dir = "~/.config/mutt/autocrypt"
# set autocrypt_dir = "~/.gnupg"
# bind index z autocrypt-acct-menu

set mailcap_path = "~/.config"/mailcap
