# vim: filetype=neomuttrc
source "$XDG_CONFIG_HOME/mutt/mutt-wizard.muttrc"
source "$XDG_CONFIG_HOME"/mutt/accounts/acc1.muttrc
macro index,pager i1 '<sync-mailbox><enter-command>source "$XDG_CONFIG_HOME"/mutt/accounts/acc1.muttrc<enter><change-folder>!<enter>;<check-stats>' "Switch to Account 1"
{{- if .private }}
macro index,pager i2 '<sync-mailbox><enter-command>source "$XDG_CONFIG_HOME"/mutt/accounts/acc2.muttrc<enter><change-folder>!<enter>;<check-stats>' "Switch to Account 2"
{{-  end }}
macro index ii "<shell-escape>imapfilter -c $HOME/.imapfilter/secondary.lua<enter>" "Run imapfilter"
set crypt_use_gpgme = yes
set tmpdir = "/tmp/mutt"

# format=flowed
set text_flowed = yes
set sort = threads

# Use unicode everywhere
set charset="utf-8"
set send_charset="us-ascii:utf-8"

# Autocrypt
set crypt_protected_headers_write = yes
set crypt_protected_headers_subject = "..."
set autocrypt = yes
# set autocrypt_dir = "$XDG_CONFIG_HOME/mutt/autocrypt"
set autocrypt_dir = "~/.gnupg"

bind index z autocrypt-acct-menu

set mailcap_path = "$XDG_CONFIG_HOME"/mailcap
