# https://wiki.archlinux.org/index.php/Android_Debug_Bridge
SUBSYSTEM=="usb",ATTR{idVendor}=="22b8", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="22b8",ATTR{idProduct}=="2e76",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="22b8",ATTR{idProduct}=="2e76",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="04e8", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="04e8",ATTR{idProduct}=="685c",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="04e8",ATTR{idProduct}=="685c",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="2717", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="2717",ATTR{idProduct}=="ff40",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="2717",ATTR{idProduct}=="ff40",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="2717", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="2717",ATTR{idProduct}=="ff08",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="2717",ATTR{idProduct}=="ff08",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="05c6", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="05c6",ATTR{idProduct}=="9091",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="05c6",ATTR{idProduct}=="9091",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="d00d",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="d00d",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="4ee7",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="4ee7",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="05c6", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="05c6",ATTR{idProduct}=="9039",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="05c6",ATTR{idProduct}=="9039",SYMLINK+="android_fastboot"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1", MODE="0660", GROUP="adbusers"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="4ee0",SYMLINK+="android_adb"
SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="4ee0",SYMLINK+="android_fastboot"
